# =========================
# POSTGRES CONFIG
# =========================
POSTGRES_USER=**POSTGRESUSERNAME**
POSTGRES_PASSWORD=**POSTGRESPASSWORD**
POSTGRES_DB=warehouse

PGADMIN_PASSWORD=**PGADMINPASSWORD** 
PGADMIN_EMAIL=**PGADMINEMAIL**


# =========================
# SUPERSET CONFIG
# =========================
SUPERSET_ADMIN=**SUPERSETUSERNAMEHERE**
SUPERSET_PASSWORD=**SUPERSETPASSWORDHERE**
SUPERSET_EMAIL=**SUPERSETEMAILHERE**
SUPERSET_SECRET_KEY=**CHANGEMESECRETKEY**
SQLALCHEMY_DATABASE_URI=postgresql://**POSTGRESUSERNAME**:**POSTGRESPASSWORD**@postgres:5432/superset_db
    

# =========================
# AIRFLOW CONFIG (basic)
# =========================
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=U2U7xAoFM-JriX50llUa7KdK_3GwGKWwh3oJlMw-wdA=
AF_USERNAME=**AIRFLOWUSERNAMEHERE**
AF_PASSWORD=**PASSWORDHERE**
AF_EMAIL=**AIRFLOWEMAILHERE**



# =========================
# NIFI CONFIG (optional API auth if you extend later)
# =========================
NIFI_USERNAME=**NIFIUSERNAMEHERE**
NIFI_PASSWORD=**12CHARSORMOREPASSWORDHERE**
NIFI_URL=http://nifi:8443

# =========================
# BACKUP CONFIG
# =========================
BACKUP_RETENTION_DAYS=7