# =========================
# POSTGRES CONFIG
# =========================
POSTGRES_USER=data
POSTGRES_PASSWORD=Toffkat66
POSTGRES_DB=warehouse

PGADMIN_PASSWORD=Toffkat66 
PGADMIN_EMAIL=admin@example.com


# =========================
# SUPERSET CONFIG
# =========================
SUPERSET_ADMIN=supersetadmin
SUPERSET_PASSWORD=Toffkat66
SUPERSET_EMAIL=admin@example.com
SUPERSET_SECRET_KEY=supersecretkey
SQLALCHEMY_DATABASE_URI=postgresql://data:Toffkat66@postgres:5432/superset_db
    

# =========================
# AIRFLOW CONFIG (basic)
# =========================
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=U2U7xAoFM-JriX50llUa7KdK_3GwGKWwh3oJlMw-wdA=
AF_USERNAME=airflowadmin
AF_PASSWORD=Toffkat66
AF_EMAIL=admin@example.com



# =========================
# NIFI CONFIG (optional API auth if you extend later)
# =========================
NIFI_USERNAME=nifiadmin
NIFI_PASSWORD=Toffkat!667788
NIFI_URL=http://nifi:8443

# =========================
# BACKUP CONFIG
# =========================
BACKUP_RETENTION_DAYS=7